<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Vampire</title>

  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap" rel="stylesheet">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" style="margin: auto;" href="/"> Vampires</a>
  </nav>
</head>

<body>
