<%- include("partials/header"); -%>

<div class="container size">
  <div class="row">
    <div class="col-6">
      <h1 class="title"> <%=content %></h1>
      <form action="/" method="post">
        <button class="btn btn-lg btn-secondary" type="=submit" name="button">Click Here <i class="fas fa-bat"></i></button>
      </form>
    </div>
    <div class="col-6">
      <img src="images/vampire.jpg" alt="vampire-img">
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
