<%- include("partials/header") -%>
<div class="container-fluid">
  <h1>Mercy Brown</h1>
  <p class="description">Edwin Brown was wasting away. For the better part of two years, he grew increasingly thin and weak. As tuberculosis ravaged the once-strapping young man in March 1892, Edwin struggled to breathe as he continually coughed up
    blood. He had sought a cure in the rarified air and mineral waters of Colorado Springs, Colorado, but the 18-month trip offered no healing powers and only left him homesick for a small town in America’s tiniest state.
    Edwin Brown returned home to Exeter, Rhode Island, where his father tilled the soil as a Yankee farmer. George Brown had watched helplessly as the disease known as “consumption” took the lives of his wife, Mary Brown, in 1883 followed by his
    20-year-old daughter, Mary Olive, six months later. While his only son grew weaker and weaker in the winter of 1892, tuberculosis also took his 19-year-old daughter, Mercy Lena Brown, who passed away after a year of sickness on January 19, 1892.
    The disease that took three members of George Brown’s family was the top killer of its time in the 18th and 19th centuries, particularly in New England. Tuberculosis passed easily between people in close quarters, which is why it tended to sweep
    through entire families such as the Browns.</p>
  <img src="/images/vampire.webp" class="img">
  <p class="description">While the disease was all too common for the townspeople of Exeter, what happened next certainly wasn’t.
    In 1892, tuberculosis was still poorly understood. It wasn’t widely known what caused the disease or how it spread. Doctors were unable to
    explain the wave of sickness washing over George Brown’s family, but relatives and friends thought they knew where they could find the cause—6 feet
    under.With medical science failing to help Edwin Brown, distraught Exeter residents turned to superstition and the supernatural in a desperate attempt to save his life. Two hundred years after the Salem Witch Trails, a vampire hysteria gripped
    the New England town. A group of Exeter residents believed that Edwin’s mother or one of his sisters may be undead—caught between heaven and hell—and sucking the life out of him from beyond the grave, which meant the cure could rest with their
    bodies.

    With the extremely reluctant blessing of George Brown, who at first discounted the vampire theory, his relatives and neighbors visited the Brown family plot in the town’s Chestnut Hill Cemetery on March 17, 1892. In the small graveyard behind the
    town’s Baptist church, they exhumed the bodies of Mary Brown and Mary Olive Brown. They opened the caskets and, as would be expected, found only their bones inside.

    The townspeople then turned their attention to the casket of Mercy Brown, who had died eight weeks earlier. Accounts differ as to whether Mercy’s body had already been buried or if it rested in a crypt until the ground could thaw and undertakers
    could dig a grave. However, when the lid was lifted off of Mercy’s coffin, her body was found on her side.
    Her face appeared flush, and there was blood in her heart and in her veins.</p>
  <img src="/images/mercyl.webp" class="img">

  <p class="description">Dr. Harold Metcalf, who had raised his objection to the entire affair, assured everyone that the lack of decomposition of Mercy’s body was perfectly consistent with the fact that she had been dead for less than two months.
    Knowing that medicine had done nothing to save the Browns, the people of Exeter ignored the doctor’s proclamations and took the presence of fresh blood in Mercy’s heart as a sign that she was undead.

    They gathered firewood and kindled a bonfire on a pile of nearby rocks. Then they cut out Mercy’s heart and lungs and cremated them on the pyre. They returned to Edwin Brown’s house with the ashes of his dead sister’s heart and mixed them with
    water. Edwin consumed the concoction, but the tuberculosis continued to consume him. He died two months later on May 2, 1892.

    This was not the first time the folk remedy of burning the organs of the dead and mixing the ashes into an elixir for the sick had been tried in Rhode Island, even in Exeter. In 1799, the townspeople exhumed the body of Sarah Tillinghast,
    suspecting her of being a vampire. Author Diana Ross McCain reports there were 18 documented instances of the exhumation of family members in suspected vampire cases throughout New England in the 18th and 19th century, but the case of Mercy Brown
    would be the last.

    After digging up Mercy Brown, the townspeople buried her heartless body into the ground of Chestnut Hill Cemetery where under a weathered tombstone she now rests in peace.</p>

</div>
<%- include("partials/footer") -%>
