<%- include("partials/header") -%>
<div class="container mr-auto">
  <h1 class="title">Thank You For Giving Your Opinion</h1>
  <p class="description">Hope You Have Learned Amazing New Things About Vampires!</p>
  <h2>See Others opinion about Vampire <a href="/post">Click here </a><h2>
</div>
<%- include("partials/footer")-%>
