<%- include("partials/header") -%>

<div class="container-fluid">
  <div class="container content">
    <div class="row">
      <div class="col-6">
        <h1 class="title">What Is a Vampire?</h1>
        <p class="description">There are almost as many different characteristics of vampires as there are vampire legends.
          But the main characteristic of vampires (or vampyres) is they drink human blood.
          They typically drain their victim’s blood using their sharp fangs, killing them and turning them into vampires.
          In general, vampires hunt at night since sunlight weakens their powers.
          Some may have the ability to morph into a bat or a wolf. Vampires have super strength and often have a hypnotic,
          sensual effect on their victims. They can’t see their image in a mirror and cast no shadows.</p>
      </div>
      <div class="col-6">
        <img src="images/vampire-blood.jpg" alt="vampire-img">
      </div>
    </div>
    <h1 class="title">Are Vampires real?</h1>
    <p class="description">
      Vampire superstition thrived in the Middle Ages, especially as the plague decimated entire towns.
      The disease often left behind bleeding mouth lesions on its victims, which to the uneducated was a sure sign of vampirism.
      It wasn’t uncommon for anyone with an unfamiliar physical or emotional illness to be labeled a vampire.
      Many researchers have pointed to porphyria, a blood disorder that can cause severe blisters on skin that’s exposed to sunlight, as a disease that may have been linked to the vampire legend.
      Some symptoms of porphyria can be temporarily relieved by ingesting blood. Other diseases blamed for promoting the vampire myth include rabies or goiter.
      When a suspected vampire died, their bodies were often disinterred to search for signs of vampirism. In some cases, a stake was thrust through the corpse’s heart to make sure they stayed dead. Other accounts describe the decapitation and
      burning
      of the corpses of suspected vampires well into the nineteenth century.
    </p>

    <h1 class="title">Vlad the Impaler</h1>
    <p class="description">It’s thought Bram Stoker named Count Dracula after Vlad Dracula, also known as <a href="/vampire/:vladTheImpaler">Vlad the Impaler</a>.
      Vlad Dracula was born in Transylvania, Romania. He ruled Walachia, Romania, off and on from 1456-1462.
      Some historians describe him as a just—yet brutally cruel—ruler who valiantly fought off the Ottoman Empire.
      He earned his nickname because his favorite way to kill his enemies was to impale them on a wooden stake.
      According to legend, Vlad Dracula enjoyed dining amidst his dying victims and dipping his bread in their blood.
      Whether those gory tales are true is unknown. Many people believe these stories sparked Stoker’s imagination to create Count Dracula,
      who was also from Transylvania, sucked his victim’s blood and could be killed by driving a stake through his heart.But,
      according to Dracula expert Elizabeth Miller, Stoker didn’t base Count Dracula’s life on Vlad Dracula. Nonetheless,
      the similarities between the two Draculas are intriguing.</p>

    <h1 class="title">Mercy Brown</h1>
    <p class="description"><a href="/vampire/:mercyBrown">Mercy Brown</a>may rival Count Dracula as the most notorious vampire.
      Unlike Count Dracula, however, Mercy was a real person.
      She lived in Exeter, <a href="/vampire/:rodheIsland">RodheIsland</a>
      and was the daughter of George Brown, a farmer.
      After George lost many family members, including Mercy, in the late 1800s to tuberculosis, his community used Mercy as a scapegoat to explain their deaths.
      It was common at that time to blame several deaths in one family on the “undead.”
      The bodies of each dead family member were often exhumed and searched for signs of vampirism.
      When Mercy’s body was exhumed and didn’t display severe decay (not surprising, since her body was placed in an above-ground vault during a New England winter),
      the townspeople accused her of being a vampire and making her family sick from her icy grave.
      They cut out her heart, burned it, then fed the ashes to her sick brother.
      Perhaps not surprisingly, he died shortly thereafter.
    </p>

    <h1 class="title">Real Vampires</h1>
    <p class="description">Although modern science has silenced the vampire fears of the past,
      people who call themselves vampires do exist. They’re normal-seeming people who drink small amounts of blood in a (perhaps misguided) effort to stay healthy.
      Communities of self-identified vampires can be found on the Internet and in cities and towns around the world.
      To avoid rekindling vampire superstitions, most modern vampires keep to themselves and typically conduct their “feeding” rituals—which include drinking the blood of willing donors—in private.
      Some vampires don’t ingest human blood but claim to feed off the energy of others. Many state that if they don’t feed regularly, they become agitated or depressed.
      Vampires became mainstream after Dracula was published. Since then, Count Dracula’s legendary persona has been the topic of many films, books and television shows.
      Given the fascination people have with all things horror, vampires—real or imagined—are likely to continue to inhabit the earth for years to come.</p>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1 class="title">So What are your thaughts about Vampires? </h1>
          <p class="description"><a href="/comment">Click here</a> To Share Your Thaughts!</p>
        </div>
        <div class="col-6">
          <img class="img" src="images/vampire-blood1.jpg" alt="vampire-img">
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
