<%- include("partials/header") -%>
<div class="container-fluid">
  <h1 class="title">Vlad the Impaler</h1>
  <p class="description">In 1442, the ruler of Wallachia (now part of present-day Romania) embarked on a diplomatic mission into the heart of the Ottoman Empire. It was a leap of faith for Vlad II, who had pledged to defend Christianity in Eastern
    Europe against the Ottomans 11 years earlier when he joined the fellowship of knights known as the Order of the Dragon. Now, however, the man who had been given the surname Dracul (which means “dragon” in Romanian) by his fellow knights needed
    the help of the Ottoman Sultan Murad II to fight a rival from the neighboring territory of Transylvania, and he journeyed to make his plea in person along with his two princes—7-year-old Radu and 11-year-old Vlad III, also known by the patronymic
    name Dracula (“son of Dracul”).
    Vlad II ultimately received the military support he sought from the Ottomans, but it came at a price. In addition to an annual tribute, the Wallachian ruler agreed to leave his two sons behind as political prisoners to ensure his loyalty. The
    boys were held hostage in a picturesque citadel high atop a rocky precipice lording over the town of Tokat, which had been conquered by the Seljuk Turks at the end of the 12th century and incorporated into the Ottoman Empire in 1392. During his
    five years of captivity inside the fortress, the bile festered inside young Vlad III and his hatred of the Ottomans surged. After his release and eventual succession to the Wallachian throne, the older prince’s venom against the Ottoman Empire
    would be unleashed in such a brutal fashion that centuries later he is known simply as Vlad the Impaler and the real-life inspiration for a classic horror tale.Now, according to Turkish newspaper Hurriyet Daily News, archaeologists working on the
    restoration of Tokat Castle in northern Turkey have discovered two dungeons where the Ottomans held Vlad the Impaler hostage. The dungeons inside the ancient fortress were “built like a prison,” archaeologist Ibrahim Cetin told the Turkish
    newspaper. “It is hard to estimate in which room Dracula was kept,” Cetin admitted, “but he was around here.”
    In addition to the two dungeons that held Dracula, archaeologists have also unearthed a military shelter and a secret tunnel believed to have been used to access a nearby Roman bath. “The castle is completely surrounded by secret tunnels,” Cetin
    said. “It is very mysterious.”
    What isn’t as mysterious is what happened to the Transylvania-born Vlad III after his release from Tokat Castle around the time his father and older brother Mircea were brutally killed in 1447. He ascended to the throne in 1456 and maintained his
    barbaric rule through torture, mutilation and mass murder. Victims were disemboweled, beheaded and skinned or boiled alive.
    By 1462 he was at war with the Ottomans. With the enemy on the advance with a force three times the size of his own, Vlad III hid in the Romanian forests and relied on savage guerilla tactics. His forces poisoned wells, burned crops and paid
    diseased men to infiltrate Ottoman ranks and pass along their pestilence. It was a gruesome mass killing, however, that led to his posthumous nickname when he ordered 20,000 defeated Ottomans to be impaled on wooden stakes outside the city of
    Targoviste. When a horrified Sultan Mehmed II came upon the forest of the dead being picked apart by crows, he retreated to Constantinople.Hungarian forces captured Vlad the Impaler later that year, and he was imprisoned for the second time in
    his life. Most historians believe his later captivity occurred in Romania and lasted more than a decade, although the exact location and length have been disputed. Vlad the Impaler reclaimed the Wallachian throne after the death of his younger
    brother Radu in 1475, but it was a short-lived reign as he was believed to have been killed in battle against the Ottomans in 1476.
    The legend of Vlad the Impaler’s brutality grew after his death as stories spread that he dined on the impaled bodies of his victims and even dipped his bread into their blood. The dark tales apparently served as inspiration for Irish novelist
    Bram Stoker who in 1897 penned a Gothic novel about a vampire who shared a Transylvanian birthplace and nickname with Vlad the Impaler—Dracula.</p>
</div>
<%- include("partials/footer") -%>
